.Quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }
  
  .Quiz-container__subtitle {
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #c6c8cf;

  }
 
  .Quiz-container__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 16px;
    /* color: #767c96; */
    color: #c6c8cf;
  }
  