
.Home-content{
    min-height: 450px;
    height: min-content;
    display: flex;
    justify-content: space-between;
}
  .Home-content__title{
    margin-left: 52px;
    font-size: 25px;;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #c6c8cf;

}

.Home-content__select{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
}
.Home-content__select .MuiInputLabel-outlined{
  color: #767c96;
}
.Home-content__select .MuiOutlinedInput-input{
  color: #c6c8cf;
  font-weight: bold;
  cursor: pointer;
}


 @media (max-width: 667px) {
   .App{
     width: 100%;
   }
    .Home-content {
      flex-direction: column-reverse;
      align-items: center;
    }
    
    .Home-content__title {
      width: 100%;
    }
}

