
.Home-content{
    min-height: 450px;
    width:100%;
    height: min-content;
    display: flex;
    justify-content: center;
}
  .Home-content__title{
    font-size: 25px;;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #f50057;
    padding: 5px 25px;
    border-radius: 5px;
}
.Home-content__select{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
}
.Home-content__select button{
  color: #f50057;
  border: 1px solid #f50057 ;
  border-radius: 6px;
  font-weight: bold;
}
.Home-content__select .MuiInputLabel-outlined{
  color: #767c96;
}
.Home-content__select .MuiOutlinedInput-input{
  color: #c6c8cf;
  font-weight: bold;
  cursor: pointer;
}


 @media (max-width: 667px) {
   .App{
     width: 100%;
   }
    .Home-content {
      flex-direction: column-reverse;
      align-items: center;
    }
    
    .Home-content__title {
      width: 100%;
    }
}

