.Questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Questions-container__question{
  width: 95%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid grey;
  padding: 20px;
  margin-top: 10px;
}

.Question-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.singleOption {
  width: 46%;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  box-shadow: 0 0 2px black;
}

@media (max-width: 614px) {
  .singleOption {
    width: 100%;
  }
}

.Questions-container__controls{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.Questions-container h1{
  color: #666D91;
}
.Questions-container__question {
  border:none;
}
.Questions-container__question h2{
    font-size: 18px;
}
.Questions-container h1{
    font-size: 25px;
}
.Questions-container__controls .MuiButton-containedSecondary{
  border-radius: 5px;
  transition: all 0.2s ease;
  background: #E1332D;
  color: #fff;
  cursor: pointer;
}
.Questions-container__controls .MuiButton-containedSecondary:hover{
  background: #e05955;
}

.Question-options button{
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.Question-options .select {
  background-color: #189541;
  color: #fff;
}
.Question-options .wrong{
  background: #E1332D;
  color: #fff;
}

.Questions-container__controls .MuiButton-containedPrimary{
  border-radius: 5px;
  background-color: #189541;
  color: #fff;
  transition: all 0.2s ease;
}
.Questions-container__controls .MuiButton-containedPrimary:hover{
  background: #3da760;
  color: #fff;
}