@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200;300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: inherit;
  color: inherit;
}
body{
  /* background-color: #101427; */
  color: #e2e2e2;
  overflow-x: hidden;
  font-family: "Montserrat",sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.App{
  background-color: #101427;
  width: 550px;
  min-height: 450px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}